* {
    margin: 0;
    padding: 0;
}

.Container {
    background-color: white;
 
}

.Header {
    background-color: #f2DDDC;
    height: 80px;
}

#mylogo {
    height: 50px;
    margin-top: 15px;
    margin-left: 55px;

}

.photo-container{
    width: 60%;
    margin: auto;
    text-align: center;

}


#myphoto {
    height: 150px;
    padding-top: 5%;

}


.project-container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

}

.photo-block {
    width: 32%;
    position: relative;

}


.photo-block img{
    width: 100%;

}

.project-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    /* transition: opacity 0.2s, visibility 0.2s; */
}

.photo-block:hover .project-description{
    visibility: visible;
    
}

.photo-block:hover img{
    opacity: 0.5;
    
}


.photo-block p {
    /* transform: translateY(1); */
    /* transition: 0.2s; */
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.photo-block:hover p{
    transform: translate(0px);
    
}


.listinheader a {
    text-decoration: none;
}


a:hover {color: #EC576B;}
a { color: #5E5C5C; text-decoration: none;}



/* Make components align horizontally */
.i-block {
    display: inline-block;
}


.listinheader {
    width: 100%;
    margin-top: -40px;
    margin-left: -70px;
    text-align: right;
}

.block {
    width: 8%;
    display: inline-block;
    font-family: Raleway;


}


#paragraph1 {
    color: #78B4B6;
    font-family: Raleway;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.big {
    color: #5E5C5C;
    font-family: Neue Haas Grotesk Text Pro;
    display:inline-block;
    font-size: 43px;
    font-weight: 500;
}

#paragraph2 {
    margin-top: 20px;
}

#paragraph5 {
    color: #F16F60;
    font-family: Raleway;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

#paragraph6 {
    color: #F16F60;
    font-family: Raleway;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}


.project-button {
    color: #5E5C5C;
    border-radius: 35px;
    background: #FCECCB;
    font-family: Raleway;
    padding: 20px; 
    width: 200px;
    height: 20px; 
    margin: auto;
    margin-top: 30px;
  }




.leisure-button {
    color: #5E5C5C;
    border-radius: 35px;
    background: #FCECCB;
    font-family: Raleway;
    padding: 20px; 
    width: 200px;
    height: 20px; 
    margin: auto;
    margin-top: 30px;
    text-align: center;

}

/* 

  .grid-container {
    margin: 5%;
    display: grid;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows: repeat(2, 20vw);
    grid-gap: 1.9%;
  }
  


  .grid_image {
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s ease-in;
  }
  
  .grid_item {
    position: relative;
  /*   overflow: hidden will prevent the image scaling to exceed the specified width. It will expand on back */
    /* overflow: hidden; 
  }
*/ 
  /* .grid_item:hover {
    opacity: 0;
     animation: top_overlay 1s linear;
  }
   */
  /* .grid_item .after {
    position: absolute;
      top: 50%;
    left:50%;
    transform : translate(-50%, -50%);
    width: 100%;
    height: 100%;
      font-size : 2rem;
      display: none;
      color: red;
  } */
  
  /* .grid_item:hover .after {
    display: block;
    background: #fff;
    object-fit : cover;
  } */
  
  /* .grid_item:hover .grid_image {
    transform : scale(1.1);
    filter: blur(2px);
  }
  
  .text {
    font-size : 1.2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #C0392B;
    font-weight:900;
    display: none;
  }
  
  .online_view {
    margin-top: 40px;
    padding: 5px 10px;
    background-color: transparent;
    color: #C0392B;
    outline:none;
  }
  
  button.online_view {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button.online_view:hover{
    background-color: #E8F6F3;
    color: #CA5D46;
  }
  
  .grid_item:hover .text {
    display: block;
    
  /*   text to see, otherwise hides in the back */
    z-index: 999;
    animation : slide 0.7s ease;
  }
  
  
  @keyframes slide {
    0%{
      top: -50%;
    }
    100% {
      top: 40%;
    }
  }

   */

#mail-icon:hover {
    background-color: #55acee;
}
#dribbble-icon:hover {
    background-color: #ea4c89;
}

#linkedin-icon:hover {
    background-color: #0E76A8;
}

#github-icon:hover {
    background-color: #333333;
}


